<%- include('header') -%>

  <header class="heading heading--main">
    <h1 class="heading__title"><%= title %></h1>
  </header>
  <main>
    <div class="list">
      <div class="list__row">
        <% videos.forEach((video) => { %>
          <div class="list__col">
            <a href="/<%= video.id %>" class="listItem">
              <div class="listItem__image <%= !video.poster ? 'listItem__image--empty' : '' %>">
                <% if (video.poster) { %>
                  <img src="<%= video.poster %>" alt="">
                <% } %>
              </div>
              <div class="listItem__bottom">
                <div class="listItem__texts">
                  <h2 class="listItem__title">
                    <%= video.title %>
                  </h2>
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </main>

<%- include('footer') -%>